<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Do before</th>
            <th>Completed?</th>
        </tr>
    </thead>
    <% @reminders.each do |reminder| %>
        <tr>
            <td>
                <%= reminder.title %>
            </td>
            <td>
                <%= reminder.do_before %>
            </td>
            <td>
                <%= reminder.completed %>
            </td>
        </tr>
    <% end %>
</table>
